In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [5]:
#Reading the data
train_data = pd.read_csv('train.csv', index_col = 'Id')
test_data = pd.read_csv('test.csv', index_col = 'Id')

In [6]:
#Extracting the target and predictors
y = train_data.SalePrice
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = train_data[features].copy()
X_test = test_data[features].copy()

In [7]:
#Splitting the data
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size = 0.8, test_size = 0.2, random_state = 0)

In [8]:
X_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
Id,,,,,,,
619,11694,2007,1828,0,2,3,9
871,6600,1962,894,0,1,2,5
93,13360,1921,964,0,1,2,5
818,13265,2002,1689,0,2,3,7
303,13704,2001,1541,0,2,3,6

In [11]:
#Testing different types of models
from sklearn.ensemble import RandomForestRegressor

model_1 = RandomForestRegressor(n_estimators = 50, random_state = 0)

model_2 = RandomForestRegressor(n_estimators = 100, random_state = 0)

model_3 = RandomForestRegressor(n_estimators = 100, criterion = 'absolute_error', random_state = 0)

model_4 = RandomForestRegressor(n_estimators = 200, min_samples_split =20, random_state = 0)

model_5 = RandomForestRegressor(n_estimators = 100, max_depth = 7, random_state = 0)

models = [model_1, model_2, model_3, model_4, model_5]

In [12]:
#Analyzing the score of every created model
from sklearn.metrics import mean_absolute_error

#Creating a function for comparing different models
def score_model(model, X_t = X_train, X_v = X_valid, y_t = y_train, y_v = y_valid):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 24015
Model 2 MAE: 23740
Model 3 MAE: 23528
Model 4 MAE: 23996
Model 5 MAE: 23706

In [14]:
#Choosing the best result
best_model = RandomForestRegressor(n_estimators = 100, criterion = 'absolute_error', random_state = 0)

best_model.fit(X, y)

preds_test = best_model.predict(X_test)

output = pd.DataFrame({'Id':X_test.index, 'SalePrice': preds_test})

output.to_csv('Predictions.csv', index = False)

output

        Id  SalePrice
0     1461  119433.08
1     1462  158367.50
2     1463  185351.21
3     1464  178343.12
4     1465  192898.29
...    ...        ...
1454  2915   86155.00
1455  2916   89050.00
1456  2917  156296.92
1457  2918  132232.50
1458  2919  230870.60

[1459 rows x 2 columns]